.page-header
  %h1
    =[@feature.nick, @feature.name].compact.join(" - ")
    %br
    %small feature details

  %p= period(@ti)
  .row
    .col-sm-4
      .btn-group.btn-group-justified
        = link_to icon_with_text("arrow-left", "Prev. period"), feature_path(@feature, @ti.prev.query_hash), class: "btn btn-default btn-xs"
        = link_to text_with_icon("arrow-right", "Next period"), feature_path(@feature, @ti.next.query_hash), class: "btn btn-default btn-xs"

    .col-sm-4.col-sm-offset-4
      .btn-group.btn-group-justified
        - if prv=@feature.prev
          = link_to icon_with_text("arrow-left", "Prev feature"), prv, class: "btn btn-default btn-xs"
        - if nxt=@feature.next
          = link_to text_with_icon("arrow-right", "Next feature"), nxt, class: "btn btn-default btn-xs"

.row
  .col-sm-4
    %h4 Now
    %dl.dl-horizontal
      %dt Seen at:
      %dd=time_fmt(@feature.last_seen_at)
      %dt Used
      %dd=@feature.used
      %dt Total
      %dd=@feature.total
  .col-sm-4
    %h4 All-times
    %dl.dl-horizontal
      %dt Max used
      %dd=@used_max
      %dt Average usage [%]
      %dd=(100*@usage_ave).round(1)
      %dt Token avg duration [s]
      %dd=@token_average_duration
  .col-sm-4
    %h4 Period
    %dl.dl-horizontal
      %dt Max used
      %dd=@used_max_period
      %dt Average usage [%]
      %dd=(100*@usage_ave_period).round(1)
      %dt Token avg duration [s]
      %dd=@token_average_duration_period


%h2 Usage Percentage
#plot1

%h2 Tokens
%table.table.table-hover.sortable
  %thead
    %hr
      %th Count
      %th Start
      %th Duration
      %th User
      %th Host
  %tbody#tokens
    = render partial: 'token', collection: @tokens

-#.row
  .col-lg-6
    %h2 Recent Usage History
    %table.table.table-hover
      %thead
        %hr
          %th At
          %th %
          %th Used
          %th Total
      %tbody
        = render partial: 'usage', collection: @usages

  .col-lg-6
    %h2 Recently used Tokens
    %table.table.table-hover.sortable
      %thead
        %hr
          %th Count
          %th Start
          %th Duration
          %th User
          %th Host
      %tbody
        = render partial: 'token', collection: @tokens

:coffee
  jQuery('#plot1').highcharts({
    rangeSelector: {slected: 1},
    chart: {
      type: 'area',
      zoomType: 'x'
    },
    plotOptions: {
      area: {
        fillColor: Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.5).get('rgba'),
        lineWidth: 1,
        marker: {enabled: false},
        shadow: false,
        states: {
          hover: {
            lineWidth: 1
          }
        },
        threshold: null
      }
    }
    xAxis: {ordinal: false, type: 'datetime'},
    yAxis: {
      min: 0,
      max: 100,
      title: {text : 'Usage'},
      plotLines: [
        {value: #{100*@usage_ave}, color: 'green', dashStyle: 'shortdash', width: 2, label: {text: 'Average (all time)'}},
        {value: #{100*@usage_ave_period}, color: 'orange', dashStyle: 'shortdash', width: 2, label: {text: 'Average (period)'}}
      ]
    },
    title: {text: 'License Usage'},
    # subtitle: {text: 'Total/Used'},
    legend: {enabled: false},
    series: [
      {name: "Usage", step: true, data: #{@plot_data.to_json}}
    ]
  })
